@import "main-site-colors";


.view-admin-dashboard {
  padding-right: 40px;
  padding-left: 40px;
}

.views-table.sticky-enabled.cols-6.tableheader-processed.sticky-table {
  width: 100%;

  .views-field {
    font-size: 1.5rem;

    a {
      color: #333333;
    }
  }


  caption {
    background-color:$con-seattle;
    margin-bottom: 0;
  }

  thead {
    font-size: 1.5rem;
    background-color: $labs-grey-background;
  }

  td, th {
    padding: 10px;
  }

  tr.odd {
    background-color: $white;
  }
}