@import "main-site-colors";

#block-views-chapter-view-v2-block{
    .view-chapter-view-v2{
        h3{
    text-align: center;
    background: #3a52a0;
    color: white;
    height: 65px;
    padding: 18px;
    font-size: 2.6rem;
        }
        .exercise-title{
         text-align: center;
    background: #3a52a0;
    color: white;
    height: 65px;
    padding: 18px;
    font-size: 2.6rem;
        }
        .chapter-title-wrapper{
     text-align: center;
    font-size: 2.6rem;
    margin-top: 24px;
        }
        
        .chapter-navigation{
            display:inline-block;
        }
        .chapter-title{
     padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
        }
    }
    
    .step-wrapper{
    font-size: 1.6rem;
    line-height: 1.5;
    }
}