@import "main-site-colors";
#block-views-chapter-view-v2-block {
    min-height: calc(100vh - 195px);

    .document-download-wrapper {
        table {
            width: 100%;
        }

        th {
            padding-left: 8px;
            color: white;
            background: $con-harvest;
        }
        tr td {
            padding: 5px;
        }

    }
    .view-header {
        background: #FFFFFF;
        width: 100%;
        top: 0;
        position: static;
        &.floated-header {
            position: fixed;
        }
    }
    .views-content-wrapper {
        margin: 0 auto;
        max-width: 1000px;
        padding-left: 65px;
        padding-right: 65px;
        width: 100%;
    }
    //jquery calculates the first and last item and should add this class to the forward or back button
    .hide-pagination {
        display: none;
    }
    .view-chapter-view-v2 {
        .chapter-title-wrapper {
            background-color: $white;
            padding-bottom: 20px;
            text-align: center;
            font-size: 2.6rem;
            margin-top: 0px;
        }
        .chapter-navigation {
            cursor: pointer;
        }
    }
    .step-wrapper {
        .item-list ul li {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }
     .chapter-block {
         .lab-perrywinkle
         {
                 background-color: $awesomeinc_perrywinkle;
         }

         .lab-burnt {
                 background-color: $con-burnt;
         }

         .lab-gold {
                 background-color: $con-gold;
         }

         .lab-ecoforest {
                 background-color: $con-ecoforest;
         }

         .lab-sandstone {
                 background-color: $con-sandstone;
         }

         .lab-brick {
                 background-color: $con-brick;
         }
     }
.flag-wrapper{
  display:none;
  
}
}
