@import "font";

#site{
  transition: all 500ms linear;
  //overflow-x: hidden;
}
.page-wrapper {
  width: 100%;
  // max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  //overflow: hidden;
}

.item-list ul li {
    margin: 0px;
}

.no-display {
    display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  button{
    background-color:$con-sandstone;
    border-radius:5px;
  }
}

h3 {
    margin-top: 0px;
     margin-bottom: 0px;

}

#footer-wrapper {
  min-height: 200px;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}

li {
  list-style: none;
}
