@import "font";

.page-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#footer-wrapper {
  min-height: 200px;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}

li {
  list-style: none;
}

