@import "main-site-colors";

.body-menu-open{

}
.menu-menu-open{

}

#offside-navigation-wrapper {
    background-color: rgb(65, 64, 66);
    left: -300px;
    position: fixed;
    width: 300px;
    z-index: 1;
    transition: left 500ms linear;
    &.expanded {
        left: 0px;
        min-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }
}
