
@import "main-site-colors";

#site { 
    position: relative;
    left: 0px;
    transition: left 250ms linear;
    &.body-menu-open {
        left: 300px;
    }
}


#offside-navigation-wrapper {
    display:inline-block;
    background-color: #EBEBEB;
    left: -300px;
    position: fixed;
    top:0;
    bottom:0;
    width: 300px;
    z-index: 2;
    transition: all 250ms linear;
    #offside-navigation{
      margin-top:3rem;
      ul{
        list-style: none;
        color:white;
        padding-left:0;
        li{
          list-style:none;
          border-bottom: 1px solid darken(#EBEBEB, 40%);
          padding: 2rem 4rem;
          &:hover{
            background-color:lighten(#EBEBEB, 20%);
            cursor:pointer;
          }
          a{
            color:black;

          }
        }
      }
    }
    &.expanded {
        left: 0px;
        min-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
        ul{
          list-style: none;
          color:white;
          padding-left:0;
          li{
            list-style:none;
            border-bottom: 1px solid darken(#EBEBEB, 40%);
            padding: 2rem 4rem;
            &:hover{
              background-color:lighten(#EBEBEB, 20%);
              cursor:pointer;
            }
            a{
              color:black;

            }
          }
        }

    }
}
