.page-lab-preview {
  .lab-header-wrapper {
    box-shadow: 7px 5px 0 #BEBEBE;
    margin: 0 40px 40px 40px;
    background-color: #fff;
  }

  .main-content-wrapper {
    background-color: #EBEBEB;
  }

  .footer-parent-wrapper {
    background-color: #EBEBEB;
  }
}