@import "main-site-colors";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin fonts($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

.view-id-lab_selection {
  .view-header {
    background-color: $background-color;
    margin: 0 auto;
    padding-top: 13rem;
    padding-bottom: 26rem;
  }
}

.title-block {
  display: inline-block;
  width: 74.6%;

  .main-title{
    text-transform: uppercase;
    line-height: 1.1;
    @include fonts("Open Sans", 600, 6rem);
    color: $white;
    padding-bottom: 7rem;
  }

  .sub-title {
    color: $con-harvest;
    padding: 2.5rem;
    text-transform: uppercase;
    background-color: #65828E; //Need updating
    line-height: 1;
    transform: translateX(8%);
    @include fonts("Open Sans", 600, 4rem);
  }

  .down-arrow-icon {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    padding-top: 13%;

    .fa.fa-angle-double-down {
      color: $white;
      font-size: 9rem;
    }
  }

}

.header-icon {
  display: inline-block;
  padding: 2.35rem;
  position: relative;
  bottom: 15rem;

  .fa.fa-users {
    background-color: $white;
    color: $background-color;
    border-radius: 50%;
    width: 5.6em;
    line-height: 2.2;
    text-align: center;
    font-size: 3.25rem !important; //1.6em;
  }

  .fa-users::before {
    //content: "\f0c0";
    //content: "\f0c0";
    font-size: 9.125rem !important; //2.6em;
  }
}