.fa.fa-users {
  background: #E74E4E;
  color: #246bc2;
  border-radius: 50%;
  width: 5.6em;
  line-height: 2.2;
  text-align: center;
  font-size: 1.6em;
}

.fa-users::before {
  content: "\f0c0";
  font-size: 2.6em;
}

