$background-color: #4B6C79;
$con-wesson: #414042;
$con-brick: #A03133;
$con-seattle: #4B6C79;
$con-harvest: #E4A025;
$con-ecoforest: #7F973B;
$con-burnt: #D34209;
$con-kraft: #c3B48B;
$con-bone: #DFE1CF;
$con-sandstone: #959484;
$con-gold: #B4975A;
@import "main-site-colors";

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@mixin fonts($font-family, $font-weight, $font-size) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}


.node-type-lab {
    p {
        line-height: 1.6875em;
        padding: 5px 15px;
    }
    .chapter-introduction-wrapper {
        font-size: 1.6rem;
        line-height: 1.5;
        padding: 20px 0;
        border-bottom: 1px solid #999;
        p {
            padding: 0 1.75rem 1.75rem 1.75rem;
        }
    }
    .field-item {
        td,
        th {
            padding: 1rem;
            border: 1px solid;
            vertical-align: baseline;
        }
    }
}

.lab-header-wrapper {
    .field-name-title {
        background-color: #3a52a0;
        text-align: center;
        color: white;
        padding: 20px;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 3.6rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 10px;
            color: $white;
            a{
                color: $white;
                &:hover {
                    color: $white;
                    cursor: default;
                }
            }
        }
    }
}

.lab-header-wrapper {
    .field-name-field-fa-icon {
        span {
            margin-top: -70px;
            margin-left: 40px;
            margin-bottom: 20px;
        }
    }
    .field-name-body {
        p {
            text-align: center;
            font-size: 2.6rem;
            line-height: 1.1;
            font-weight: 600;
        }
    }




    .field-name-field-topic-shortlist {
        .field-item {
            text-align: center;
            width: 160px;
            margin: auto;
            background-color: #3a52a0;
            color: white;
            padding: 8px 8px 8px 8px;
            margin-bottom: 30px;
            font-weight: 500;
            margin-top: 20px;
        }
    }

    .field-collection-view {
        margin: 0;
        padding: 0;
    }

    .topic-shortlist-labs .field-item {
        background-color: #fff !important;
        color: #000 !important;
        padding: 0px !important;
        width: inherit !important;
        margin-top: 0 !important;
    }

    .fa {
        color: white;
        border-radius: 50%;
        width: 6.6em;
        height: 6.6em;
        line-height: 5.6em;
        text-align: center;
        border: 7px solid #999999;
    }
}

.group-pre-lab-info {
    width: 80%;
    max-width: 800px;
    margin: auto;
    .field-label {
        text-transform: uppercase;
        margin-right: 5px;
        width: 120px;
        text-align: right;
    }
    .group-left-column {
        // display: inline-block;
        // width: 55%;
    }
    .group-right-column {
        // float: right;
        // width: 45%;
    }
}

.field-name-field-description,
.field-name-field-prerequisites {
    margin-bottom: 15px;
    .field-items {
        width: calc(100% - 125px);
        line-height: 1.3;
    }
}

.field-name-field-level {
    margin-bottom: 15px;
}

.field-name-field-length {
    margin-bottom: 15px;
}

.field-name-field-prerequisites,
.field-name-field-teachers
{
    margin-bottom: 15px;
}

.field-collection-container {
    border-bottom: none;
}


.field-collection-container .field-items .field-items .field-item {
    //margin-bottom: 0;
   // background-color: #3a52a0;
    display: inline-block;
   // margin: -1rem .1rem;
    color: white;
    padding: 4px;
    margin: 2px;
}

#edit-submitted-requirement-document-ajax-wrapper {
    label {
        margin-bottom: 8px;
    }
    .edit-submitted-requirement-document-upload-button {
        width: 84px;
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 1.3rem;
        background-color: $con-burnt;
        margin-right: 4%;
        margin-top: 8px;
        height: 24px;
    }
}

.form-actions {
    .webform-submit {
        border: 0;
        border-radius: 5px;
        color: white;
        font-size: 1.3rem;
        background-color: $sidenav-main;
        margin-right: 4%;
        margin-top: 8px;
        padding: 7px 7px 7px;
    }
}

.edit-submitted-requirement-document-upload-button {
    margin-top: 8px;
}

.form-managed-file .form-submit {
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
    background-color: $sidenav-main;
    margin-right: 4%;
    margin-top: 8px;
    margin-bottom: 4px;
}

.steps-wrapper {
    margin-bottom: 50px;
    img {
        max-width: 100%;
        //Setting width to make images line up better
        width: 850px;
        height: auto;
        margin: 2rem 0;
        border: 2px solid lightgray;
    }
    .field-name-field-content-list-item {
        margin-bottom: 16px;
    }
}


.webform-wrapper {
    label {
        margin-bottom: 8px;
    }
}

caption {
    padding-top: 15px;
    padding-bottom: 8px;
    color: white;
    text-align: center;
    height: 65px;
    font-size: 2.6rem;
    font-weight: bold;
}

input[type=submit],
    button {
        -webkit-appearance: button;
        background-color: $con-wesson;
        margin-left: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        border-radius: 5px;
        border: 2px;
        padding: 6px 27px; //2px 7px 2px;
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active{
          //background-color: lighten($con-wesson, 22%); // 12% default
            background-color: darken(#363636, 5%);
            color: #fff;
    }

}

.field-name-field-content-paragraph {
    margin: 15px 0;
}

.pager {
    display: none;
}