$background-color: #4B6C79;
$con-wesson: #414042 ;
$con-brick: #A03133 ;
$con-seattle: #4B6C79 ;
$con-harvest: #E4A025 ;
$con-ecoforest: #7F973B ;
$con-burnt: #D34209 ;
$con-kraft: #c3B48B ;
$con-bone: #DFE1CF ;
$con-sandstone: #959484 ;
$con-gold: #B4975A ;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin fonts($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

    .field-name-title{
    background-color: #3a52a0;
    text-align: center;
    color: white;
    padding: 20px;
    }

.lab-header-wrapper{
    
    .field-name-field-fa-icon{
        p{
        margin-top: -40px;
        margin-left: 40px;
        }
        
    }

 .field-name-body{
   p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 600;
    margin-top: -34px;
        }  
     
}
.field-name-field-topic-shortlist{
    .field-item{
    text-align: center;
    width: 160px;
    margin: auto;
    background-color: #3a52a0;
    color: white;
    padding: 4px;   
    }
}

.fa.fa-user-md{
    background-color: #3a52a0;
    color: white;
    border-radius: 50%;
    width: 4.6em;
    line-height: 2.2;
    text-align: center;
    border: 5px solid #959484;
    @include fontSize(16px); //1.6em;
}

  .fa-user-md:before {
    content: "\f0c0";
    @include fontSize(32px); //2.6em;
  }
}

