@import "main-site-colors";
@import "font";

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@mixin fonts($font-family, $font-weight, $font-size) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
}

.view-id-lab_selection {
    .view-header {
        background-color: $background-color;
        position: relative;
        height: calc(100vh - 65px);
    }
}

.down-arrow-icon {
    //Update to fix arrow on small screens
    font-size: 125px;
    position: relative;
    left: calc(50% - 41.5px);
    top: 75%;

    /*
   PULSE for down arrow
     */
    .pulse-arrow {
        cursor: pointer;
        -webkit-animation: pulse 4s linear 0s infinite;
        animation: pulse 4s linear 0s infinite;

        &:hover {
            -webkit-animation: none;
            animation: none;
        }

    }

    .fa {
        color: $white;
        font-size: 13rem;
    }
}

/* PULSE
http://l-lin.github.io/font-awesome-animation/
*/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    10% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    20% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }

    1% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    20% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.title-block {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 8%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    .icon-and-title {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .header-icon {
        display: block;
        float: left;
        margin-right: 15px;
        .fa.fa-users {
            background-color: rgb(255, 255, 255);
            color: rgb(75, 108, 121);
            border-radius: 50%;
            line-height: 2.2;
            text-align: center;
            font-size: 3.25rem !important;
            border: none;
        }
        .fa-users::before {
            font-size: 10.5rem !important; //2.6em;
        }
    }
    .main-title {
        @include fonts("Open Sans", 600, 5rem);
        text-transform: uppercase;
        color: $white;
        display: table;
        width: calc(100% - 250px);
        line-height: 1.2;
        height: 215px;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .sub-title {
        color: $con-harvest;
        padding: 2.5rem;
        text-transform: uppercase;
        background: rgba(255,255,255,.15);
        line-height: 1;
        @include fonts("Open Sans", 600, 4rem);
        margin-left: calc(5% + 235px);
        margin-right: -300px;
    }
}


//Home screen responsive styles
@media only screen and (min-width: 500px){
    html {
        font-size: 8px;
    }

    .title-block {
        top: 7%;
    }

    //.down-arrow-icon {
    //    top: 68%;
    //}
}

@media only screen and (min-width: 1030px){
    html {
        font-size: 9px;
    }

}

@media only screen and (min-width: 1200px){
    html {
        font-size: 10px;
    }

    .down-arrow-icon {
        top: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    .title-block {
        .sub-title {
            margin-right: 0;
            margin-left: calc(5% + 135px);
        }
    }
}

@media only screen and (max-width: 870px) {
    .topic-shortlist {
        font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 772px){
    .title-block {
        position: initial;
        padding-top: 1rem;

        .sub-title {
            margin-right: 0;
        }
    }

    .down-arrow-icon {
        top: -7%;
    }

    .lab-modules {
        width: 100% !important;
        height: 310px !important;
    }

}

@media only screen and (max-width: 749px){
    .title-block .main-title {
        font-size: 5rem;
    }
    .view-id-lab_selection .view-content {
        width: 81% !important;
    }

    #block-user-login {
        .form-item {
            float: left;
            margin-left: 10px !important;
        }
        #signup-link {
            margin-left: 1rem;
        }

        #edit-actions {
            margin-left: 0px !important;
        }
    }
}