$background-color: #4B6C79;
$con-wesson: #414042 ;
$con-brick: #A03133 ;
$con-seattle: #4B6C79 ;
$con-harvest: #E4A025 ;
$con-ecoforest: #7F973B ;
$con-burnt: #D34209 ;
$con-kraft: #c3B48B ;
$con-bone: #DFE1CF ;
$con-sandstone: #959484 ;
$con-gold: #B4975A ;
$awesomeinc_perrywinkle: #3a52a0;