@import "main-site-colors";

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


.progress-bar {
  width: 0%;
  background-color: $con-sandstone;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.progress {
    height: 9px;
    margin-top: 3px;
    border-radius: 0;
}