@import "main-site-colors";

.view-id-exercise_view {

  .view-content {
    h3 {
      background-color: $sidenav-main;
    }

    .sidebar-chapters {
      background-color: #E6A000;
    }

  }
}

//CSS for open and closed side menu
.secondary-offsides { 
    position: relative;
    #offside-wrapper {
        //background-color: rgb(65, 64, 66);
        left: -250px;
        position: absolute;
        width: 300px;
        z-index: 1;
        transition: left 500ms linear;
        &.expanded { 
            left: 0px;
            min-height: 100vh;
            overflow: hidden;
            overflow-y: auto;
        }
    }
    .page-wrapper { 
        right: 0px;
        position: relative;
        transition: right 500ms linear;
        &.shrunk { 
            right: -250px;
        }
    }
}

.view-id-exercise_view {     
    .view-content { 
        width: 250px;
        float: left;
        height: 100vh;
        background: rgb(65, 64, 66);
    }
    .view-footer { 
        float: right;
        width: 50px;
        margin-top: 80px;
        .side-menu div { 
            text-align: center;
            font-size: 35px;
            color: rgb(255, 255, 255);
            background: rgb(128, 128, 128);
            margin-bottom: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
            cursor: pointer;
        }
    }

}
#offside-navigation-wrapper {
    background-color: rgb(65, 64, 66);
    left: -300px;
    position: fixed;
    width: 300px;
    z-index: 1;
    transition: left 500ms linear;
    &.expanded {
        left: 0px;
        min-height: 100vh;
        overflow: hidden;
        overflow-y: auto;
    }
}
.site {
    right: 0px;
    position: relative;
    transition: right 500ms linear;
    &.shrunk {
        right: -300px;
    }
}