@import "main-site-colors";
#content-wrapper{
  #content{
    #block-system-main{
      .content{
        .ds-1col.user-profile.view-mode-full.clearfix{
          padding: 2rem 5rem;
          max-width: 1200px;
          margin: 0 auto 0 auto;
          list-style-type: none;
        }//ds-1col
      }//content
    }//block-system-main
  }//content
}//content-wrapper
.tabs{
  ul.primary{
    max-width: 1200px;
    margin: 0 auto 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #EBEBEB;
    border-bottom: none;
    li{
      a{
        display: inline-block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
        border-color: #ddd;
        border-style: solid solid solid solid;
      }//a
    }//li
    li.active{
      a{
        background-color: lighten($con-wesson, 15%);
        color: $white;
        border:1px solid lighten($con-wesson, 20%);

      }//a
    }//.active
  }// .primary
}//tabs
