$background-color: #4B6C79;
$con-wesson: #414042 ;
$con-brick: #A03133 ;
$con-seattle: #4B6C79 ;
$con-harvest: #E4A025 ;
$con-ecoforest: #7F973B ;
$con-burnt: #D34209 ;
$con-kraft: #c3B48B ;
$con-bone: #DFE1CF ;
$con-sandstone: #959484 ;
$con-gold: #B4975A ;
$top-border:darken($con-gold, 15%);

@import "main-site-colors";
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
@mixin fonts($font-family, $font-weight, $font-size) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

.node{
    margin:0px;
}
.content{
    margin:0px;
}
#navigation-wrapper{
    background-color:#E4A025;
}
.node-top-navigation-menu{
    border-top:5px solid $top-border;
    background-color: #E4A025;
    height: 54px;

    .group-left{
        display:inline-block;
        margin-left: 14px;

    .field-items {
        margin-top: 8px;
        cursor: pointer;
    }
    .group-left{
        display:inline-block;
        margin-left: 14px;
    }
    .field-name-field-hamburger-menu{
        display:inline-block;
        float:left;


    }

    }
    .fa.fa-bars{
        display:inline-block;
        font-size: 20px;
        background-color: #ecbc66;
        color: white;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }



    .field-name-field-concord-logo{
         display: inline-block;
        width:125px;
        img{
            width:125px;
            margin-left:8px;
            height:40px;
        }
    }



    .group-left-group{
      float: right;
      display: inline-block;
      margin-right: 14px;
    }

    .field-name-field-search-icon{
        display:inline-block;

    }

    .field-name-field-search-icon{
        display:inline-block;
    }
    .fa.fa-search{
        display:inline-block;
        font-size: 20px;
        background-color: #ecbc66;
        color: white;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        margin-right:8px;
    }


    .field-name-field-account-icon{
        display:inline-block;
    }
    .fa.fa-user{
         display:inline-block;
        font-size: 20px;
        background-color: #ecbc66;
        color: white;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }
}
#block-user-login{



      background-color: #EBEBEB;
      box-shadow: inset 0px 2px 7px 0 grey;
    .form-item-name{
        display:inline-block;
    }
    .form-type-password{
        margin-left: 36px;
       display: inline-block;
    }

    #edit-actions{
       margin-left: 30px;
    display: inline-block;
    }

    #user-login-form{
        label{
            display:none;
        }

        #edit-name{
     width:12em;
    text-transform: lowercase;
    font-size: 20px;
    font-family: 'Open Sans Pro', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 2px 0 2px;
    text-align: center;
    font-weight: bold;
    height:40px;
        }
    }

    .form-type-password{
        #edit-pass{
    width: 12em;
    text-transform: lowercase;
    font-size: 20px;
    font-family: 'Open Sans Pro', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 2px 0 2px;
    text-align: center;
    font-weight: bold;
    height:40px;
        }
    }
    #edit-actions{
    #edit-submit{
            color: white;
    padding: 5px 22px;
    background-color: #3a52a0;
    border-radius: 37%;
    width: 5em;
    text-transform: lowercase;
    font-size: 20px;
    font-family: 'Open Sans Pro', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 7px 0 7px;
    border:2px;
        }

    }
    .item-list{
        display:none;
    }
}
#block-views-chapter-view-v2-block{
    .view-chapter-view-v2{
        h3{
    text-align: center;
    background: #3a52a0;
    color: white;
    height: 65px;
    padding: 18px;
    font-size: 2.6rem;
        }
        .exercise-title{
         text-align: center;
    background: #3a52a0;
    color: white;
    height: 65px;
    padding: 18px;
    font-size: 2.6rem;
        }
        .chapter-title-wrapper{
     text-align: center;
    font-size: 2.6rem;
    margin-top: 0px;
        }

        .chapter-navigation{
            display:inline-block;
        }
        .chapter-title{
     padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
        }
    }

    .step-wrapper{
    font-size: 1.6rem;
    line-height: 1.5;
    }
}
