@import "main-site-colors";
@import "font";

#notice {
  display: none;
}
#footer-wrapper {
  border: none;
}

.view-id-lab_selection {
     background-color: $labs-grey-background;
  .view-content {
    width: 80%;
    margin: 0 auto; //20rem auto
    background-color: $labs-grey-background;
    padding: 10rem 0 10rem 0;
    position: relative;

    .views-row {
      display: inline-block;
      width: 26%;
      background-color: $white;
      text-align: center;
      margin: 2rem .5rem 2rem 2rem;
      }
    }
}

.lab-title {
  padding: 2rem;
  font-size: 2rem;
  line-height: 1.3;
}

.topic-shortlist {
  line-height: 1.5;
  font-size: 1.7rem;
  padding: .5rem;
  color: $white;
  position: relative;
}

#scroll {

  padding: 0.2rem;
}

//Carousel overrides

.jcarousel-clip {
  overflow: hidden;
}

//Arrows
.jcarousel-next {
    position: absolute;
    font-size: 50px;
    color: $con-seattle !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 0 #BEBEBE;
    right: -9%;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    
    &:before {
    font-family: 'FontAwesome';
    content: "\f054";
  }
}

.jcarousel-prev {
    position: absolute;
    font-size: 50px;
    color: $con-seattle !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 0 #BEBEBE;
    left: -9%;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

    &:before {
        font-family: 'FontAwesome';
        content: "\f053";
    }
}


.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 50%;
  height: initial;
  padding: 20px 100px;
  margin: auto;
}

.jcarousel-skin-default .jcarousel-item {
  padding: 0;
  width: 100px;
  height: 22rem;
  overflow: initial;
  border: none;
  list-style: none;
  background: none;
}

//Lab boxes
.lab-icon {
      .fa {
        border-radius: 50%;
        width: 5.6em;
        line-height: 2.2;
        font-size: 2rem;
        border: 3px solid #ACACAC;
        color: $white;
        background-color: #7F973B;

        &:before {
        font-size: 4.5rem;
      }
    }
  .fa-user-md {
    background-color: $awesomeinc_perrywinkle;
  }
  .fa-shopping-bag {
    background-color: $con-burnt;
  }

  .fa-database {
    background-color: $con-gold;
  }

  .fa-life-ring {
    background-color: $con-ecoforest;
  }

  .fa-thermometer-full {
    background-color: $con-sandstone;
  }

  .fa-id-card-o {
    background-color: $con-brick;
  }
}

.lab-modules {
  position: relative;
  font-family: "Open Sans", sans-serif;
  box-shadow: 7px 5px 0 #BEBEBE;
  background-color: $white;
  text-align: center;
  padding-top: 2rem;
  width: 95%;

  .topic-shortlist {
    background-color: $con-harvest;
  }
}

  .lab-perrywinkle .topic-shortlist {
    background-color: $awesomeinc_perrywinkle;
  }
  .lab-burnt .topic-shortlist {
    background-color: $con-burnt;
  }
  .lab-gold .topic-shortlist {
    background-color: $con-gold;
  }

  .lab-ecoforest .topic-shortlist {
    background-color: $con-ecoforest;
  }

  .lab-sandstone .topic-shortlist {
    background-color: $con-sandstone;
  }

  .lab-brick .topic-shortlist {
    background-color: $con-brick;
  }

