@import "main-site-colors";

form[id*="webform-client-form"],
#user-profile-form,
#user-register-form,
#user-login,
#user-pass,
#quiz-question-answering-form,
#quiz-progress,
#quiz-take-question-feedback-form
{
  padding: 1.5rem;
  margin-bottom: 0;
  border-width: .2rem;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.marker, .form-required {
  color: $con-brick;
}

.form-textarea, .form-text {
  display: block;
  padding: .5rem .75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

input.form-checkbox, input.form-radio {
  vertical-align: text-top;
}


//Search form styles
#block-system-main {

  .search-form {
    padding: 2rem;

    #edit-submit--3 {
      margin: 1rem 0;
    }
  }
  .search-results .search-info {
    display: none;
  }

  .search-results li {
    margin-bottom: 3rem;
  }

}

.page-search {
  .page-wrapper {
    h2 {
      font-size: 18px;
    }
  }
}

.answering-form {
  input[type=submit] {
    margin: 0 .5rem;
  }
}
